html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#text {
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin rgb(15, 13, 13);
  width: 100%;
}

#box {
  background-color: rgb(255, 255, 255);
  margin: auto;
  transform: translateY(50%);
  width: 400px;
  padding: 20px;
  border: solid thin rgb(15, 13, 13);
  box-shadow: 1px 2px 1px 1px;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(32, 26, 26);
  font-weight: bold;
  font-family: sans-serif;
}

input:nth-last-of-type(1) {
  cursor: pointer;
}

input:nth-last-of-type(1):hover {
  transform: scale(1.05);
  transition: 0.1s;
  border: none !important;
}
